.App-main {
	background-color: #f3f3f3;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 6rem;
	color: #282c34;
	flex: 1;
}
