form {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}
.input-group {
}
.input-group-expand {
	flex: 1;
}
input,
textarea {
	width: 100%;
	height: 1.5rem;
	margin: 0 0 1rem 0;
	border: 1px solid #f3f3f3;
	font-size: 1rem;
	line-height: 1.33;
}
textarea {
	flex: 1;
	height: 100%;
}

.PostFormSubmit {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background: #222;
	color: white;
}

.PostFormWrapper {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.PostPreview,
.PostForm {
	flex: 1;
	padding: 2rem;
	display: flex;
}
.PostForm {
}
.PostPreview {
}

@media (min-width: 992px) {
	.PostFormWrapper {
		flex-direction: row;
	}
	.PostPreview,
	.PostForm {
		flex: 1 1 50%;
		padding: 2rem;
	}
}
